main {
    width: auto; /* On défini une marge auto pour éviter les barres de défilement et avoir la largeur de l'écran de l'appareil */
}

header {
    width: 100%;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.header_logo {
    flex: 1;
    padding: 10px 0 0 20px;
}

.header_register {
    display: flex;
    justify-content: flex-end;
}

.hide_mobile {
    display: none;
}

.show_mobile {
    display: flex;
    width: 100%;
    margin: -40px 0 0 0;
}

.show_mobile ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #F2F2F2;
}

.show_mobile li {
    width: 50%;
    list-style-type: none;
}

.show_mobile a {
    padding: 1.8em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.show_mobile a:hover {
    border-bottom: 4px solid #0065FC;
    color: #0065FC;
}

section {
    width: auto;
    margin: -20px 0 0 0;
    padding: 0 20px 0 20px;
}

#search_container form {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.search_submit {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#filters_container {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    margin: 20px 0 0 0;
}

.filters_section {
    flex-wrap: wrap;
}

.filters_title {
    margin: 0 15px 15px 0;
}

#info_container {
    margin: 0px;
}