body, main {
    width: auto; /* On défini une marge auto pour éviter les barres de défilement et avoir la largeur de l'écran de l'appareil */
}

header {
    width: 100%;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.header_logo {
    flex: 1;
    padding: 10px 0 0 20px;
}

.header_register {
    display: flex;
    justify-content: flex-end;
}

.hide_mobile {
    display: none;
}

.show_mobile {
    display: flex;
    width: 100%;
    margin: -40px 0 0 0;
}

.show_mobile ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #F2F2F2;
}

.show_mobile li {
    width: 50%;
    list-style-type: none;
}

.show_mobile a {
    padding: 1.8em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.show_mobile a:hover {
    border-bottom: 4px solid #0065FC;
    color: #0065FC;
}

section {
    width: auto;
    margin: -20px 0 0 0;
}

section h1, section p {
    padding: 0 20px 0 20px;
}

#search_container form {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0 20px 0 20px;
}

.search_submit {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#filters_container {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding: 0 20px 30px 20px;
    margin: 20px 0 0 0;
}

.filters_section {
    flex-wrap: wrap;
}

.filters_title {
    margin: 0 15px 15px 0;
}

#info_container {
    margin: 0px;
    padding: 0 20px 0 20px;
}


#hosting_container {
    width: auto;
    flex-wrap: wrap-reverse;
}

#hosting_container article, #hosting_container aside {
    width: 100%;
    padding: 15px 20px 10px 20px;
    margin: 0px;
    border-radius: 0px;
}

#hosting_container article {
    background-color: #FFFFFF;
}

.aside_block, .article_block {
    padding: 4px 0 4px 0;
}

.article_container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
}

.article_block {
    width: 100%;
    border-radius: 20px;
    margin: 0 0 20px 0;
}

.activity_container {
    flex-direction: column;
    margin: 0px;
    padding: 0 20px 0 20px;
}

.activity_block {
    width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 0 20px 0;
}

.activity_big_picture, .activity_small_picture {
    height: 150px;
}

footer {
    background-color: #F2F2F2;
    margin: 50px 0 0 0;
}

.footer_container {
    width: auto;
    margin: 0px;
    flex-direction: column;
}

.footer_column_title {
    font-weight: bold;
}

.footer_column {
    width: auto;
    padding: 0 0 0 20px;
}