main {
    width: auto; /* On défini une marge auto pour éviter les barres de défilement et avoir la largeur de l'écran de l'appareil */
}

header {
    width: 100%;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.header_logo {
    flex: 1;
    padding: 10px 0 0 20px;
}

.header_register {
    display: flex;
    justify-content: flex-end;
}

.hide_mobile_nav {
    display: none;
}

.show_mobile_nav {
    display: flex;
    width: 100%;
}

.show_mobile_nav ul {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #F2F2F2;
}

.show_mobile_nav li {
    width: 50%;
    list-style-type: none;
}

.show_mobile_nav a {
    padding: 1.8em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.show_mobile_nav a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

section {
    width: auto;
    padding: 0 0 0 20px;
}